@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 antialiased;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }

  *:focus-visible {
    @apply outline-none ring-2 ring-primary-500 ring-offset-2;
  }
}
